/*------head-----------*/
.head {
    background-color: rgb(23, 121, 153);
    padding: 10px 0;
    color: #fff;
    height: 40px;

}

.container {
    width: 1200px;
}


.head i {
    margin-right: 10px;
}

.head label {
    margin-right: 30px;
    font-size: 13px;
}



/*------head-----------*/