.password-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  width: 400px;
}

.password-form h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-error,
.form-error-message {
  font-size: 14px;
  margin-top: 5px;
}

.form-error {
  display: none;
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  text-align: center;
}

.form-error-message {
  text-align: center;
}

.form-error-message + .text-right {
  margin-top: 10px;
}
