.loadingWrap {  
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 200px;
     height: 50px;
     text-align: center;
   }
   
   .loadingBoxes {
     display: inline-block;
     margin: 3px;
     width: 40px;
     height: 40px;
     border-radius: 10px;
   }
   
       .loadingBoxColour1 {background: #00A396; 
         animation: loadingBoxColour; animation-duration: 1.5s;
         animation-delay: 0.0s; animation-iteration-count: infinite;
         animation-timing-function: ease-in-out;  
        }
       .loadingBoxColour2 {background: #81C540;
         animation: loadingBoxColour; animation-duration: 1.5s;
         animation-delay: 0.1s; animation-iteration-count: infinite;
         animation-timing-function: ease-in-out;  
       }
       .loadingBoxColour3 {background: #F5B52E;
         animation: loadingBoxColour; animation-duration: 1.5s;
         animation-delay: 0.2s; animation-iteration-count: infinite;
         animation-timing-function: ease-in-out;  
       }
       .loadingBoxColour4 {background: #ED5B35;
         animation: loadingBoxColour; animation-duration: 1.5s;
         animation-delay: 0.3s; animation-iteration-count: infinite;
         animation-timing-function: ease-in-out;  }
   
       .loadingBoxColour5 {background: #EA225E;
         animation: loadingBoxColour; animation-duration: 1.5s;
         animation-delay: 0.4s; animation-iteration-count: infinite;
         animation-timing-function: ease-in-out;  }
   
             @keyframes loadingBoxColour {
               0% { transform: scale(1.0); }
               50% { transform: scale(0.5); }
               100% { transform: scale(1.0); }
             }
   
   