.Login-Wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 226, 231);
}

.Login {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Login .login-body {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    border-radius: 5px;
}

.Login .login-body .login__form-body {
    margin: 30px;
    background-color: var(--white-color);
    border-radius: 8px;
    border: none;
}

.Login .login-body .login__form-body .login__form-content {
    padding: 28px 17px;
}

.Login .login-body .login__form-body .login__form-content .login__errorAlert {
    color: red;
    font-size: 15px;
    display: block;
}

.Login .login-body .login__form-body .Login__header>h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 0;
}

.Login .login-body .login__form-body .Login__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Login .login-body .login__form-body .Login__header .Login__home-icon {
    cursor: pointer;
    font-size: 23px;
    color: rgb(23, 121, 153);
    padding-right: 10px;
}

.Login .login-body .login__form-body .login__input-box {
    display: block;
    padding: 13px;
    width: 400px;
    border-radius: 8px;
    border: 1px solid #2dc2d0;
}

.Login .login-body .login__form-body .forgot-password {
    font-size: 14px;
    cursor: pointer;
    margin-top: 17px;
}

.Login .login-body .login__form-body .forgot-password:hover {
    opacity: 0.8;
}

.Login .login-body .login__form-body .btn-sign-in {
    padding: 13px 27px;
    border-radius: 8px;
    width: 100%;
    font-weight: 500;
    background-color: rgb(23, 121, 153);
    color: #fff;
}

.Login .login-body .login__form-body .btn-sign-in:disabled {
    cursor: no-drop;
    opacity: 0.6;
}

.Login .login-body .login__form-body .separate {
    display: flex;
    align-items: center;
}

.Login .login-body .login__form-body .separate .line {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.Login .login-body .login__form-body .separate span {
    display: block;
    padding: 0 10px;
    opacity: 0.8;
}

.Login .login-body .login__form-body .login__google {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    background: var(--white-color);
    border-radius: 8px;
    cursor: pointer;
}

.Login .login-body .login__form-body .login__google .google-icon {
    width: 25px;
    height: 25px;
}

.Login .login-body .login__form-body .sign-up a {
    color: #206cb4;
    margin-left: 10px;
}