.MyPurchase-page {
     width: 100%;
     background-color:rgb(213, 226, 231);
     min-height: 100vh;
     padding: 15px 0px;
}
a.MyPurchase-cate{
     color: none;
}
.MyPurchase-cate:hover{
     color: rgb(14, 138, 210);
}
.MyPurchase-log-cate {
     
     top: 99.8px;
     z-index: 1;
     margin: auto;
     width: 1300px;
     background-color: #fffcfc;
     display: flex;
     margin-bottom: 15px;
}
.MyPurchase-log-cate  button {
     width: 100px;
     border: none;
     background-color: #fff;
     display: flex;
     align-items: center;
     color: #9ea5a7;
}

.MyPurchase-cate {
     text-decoration: none;
     padding: 15px 25px;
     color: #171919;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;

}
.NavLink-text:hover{
    
}
.MyPurchase-cate.active {
     border-bottom: 1px solid rgb(14, 138, 210);
     color: rgb(14, 138, 210);
}

.MyPurchase-log-Item {
     margin: auto;
     padding-top: 0px;
}