/* .product__item {
    border: 1px solid #fde4e4;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    height: 100%;
    min-height: 19rem;
}

.product__img {

    margin-bottom: 20px;
    transition: 0.4s;
}

.product__img:hover {
    transform: scale(1.2);
}

.product__content h5 a {
    color: #212245;
    font-style: 1rem;
}

.product__content h5 {
    margin-bottom: 30px;
}

.product__price {
    font-weight: 600;
    font-size: 1.2rem;
    color: #df2020;
}

.addTOCART__btn {
    border: none;
    padding: 7px 25px;
    background: rgb(66, 164, 182);
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {
    .product__content h5 a {
        font-size: 0.8rem;
    }

    .product__item {
        padding: 20px;
    }

    .addTOCart__btn {
        padding: 5px 15px;
        font-size: 0.7rem;
    }
} */

/* .product-tag {
    width: 310px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 10px;
} */

.product-tag {
    padding: 0;
    position: relative;
    width: 105%;
    margin-bottom: 10px;
}

.product-tag .discount-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius-bottom: 5px;
    transition: 0.4s;
}


/* .card-img-top:hover {
    transform: scale(1.03);
} */


.product-tag.card {

    transition: transform 0.322s;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 8px 0.9px gray;
    }
}

/* .card-body {
    padding: 20px;
} */



.card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;

}

.card-title a {
    text-decoration: none;
    color: #000;

}

.card-text {
    font-size: 14px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
}

.percent {
    text-decoration: none !important;
}

.discount-price {
    font-weight: bold;
    color: #333;
}

.discount-price-color {
    color: #df2020 !important;
}

.rate {
    color: #f5a623;
}

.fa-star {
    color: #f5a623;
}

.fa-star-half-alt {
    color: #f5a623;
}

.fa-star-empty {
    color: #e0e0e0;
}

.quantity-sold {
    color: #777;
}

.addTOCART__btn {
    border: none;
    padding: 7px 25px;
    background: rgb(66, 164, 182);
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
}