/* .toPay-list-log {
     margin: auto;
     width: 1300px;
     margin-bottom: 15px;
     background-color: #fff;
} */
.option-page-MyPurChase{
     width: 1300px;
     min-height: 85vh;
     margin: auto;
}
.toPay-totalPay-log{

}